body,
form,
textarea,
input[type=text],
input[type=email] {
    font-family: 'Cabin', sans-serif;
}
h1,
h2,
h3,
h4,
button,
li {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
h2 {
    font-size: 2.1rem;
    letter-spacing: 0.1rem;
}
h3 {
    font-size: 1.5rem;
    letter-spacing: 0.13rem;
}
h4 {
    font-size: 1rem;
    letter-spacing: 0.02rem;
}
h4 a,
button {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    border: 1px solid $first-accent;
    background-color: $first-accent;
    padding: 7px 20px;
}
button {
    font-size: 1.1rem;
    padding: 5px 0;
    width: 100%;
    transition: 0.2s;
}
button:hover {
    color: white;
    box-shadow: 3px 3px black;
    
}
.title-div h2 {
    position: absolute;
    top: 360px;
    font-size: 4rem;

}
a {
    text-decoration: none;
    color:black;
    font-size: 1.4rem;
    transition: 0.2s;
}

.nav-white {
    color: white;
}
a:hover {
    color: white;
    box-shadow: 3px 3px black;
}
nav a:hover {
    box-shadow: none;
}

p {
    font-size: 1rem;
    line-height: 1.8rem;
    letter-spacing: 0.01rem;
}
.blog-p p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    letter-spacing: 0rem;
    margin-top: 15px;
}
.blog-aside-nav li a {
    font-family: 'Cabin', sans-serif;
    text-transform: none;
    font-weight: lighter;
    font-size: 0.9rem;
    line-height: 1.5rem;
    letter-spacing: 0rem;
}

form,
textarea {
    font-size: 1rem;
    color: black;
    border: 0;
    
}
form {
    margin-bottom: 100px;
}
textarea {
    padding: 3% 0;
    margin: 10px 0 25px 0;
}
a.aside-email {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;

}

