// HOMEPAGE HEADER

header {
    background-color: #B9DDE7;
    height: 80vh;
}
.header-img {
    width: 45%;
}
.header-img img {
    width: 85%;
    box-shadow: 15px 20px white;
}
.header-text {
    position: relative;
    width: 55%;
}
.circle-text {
    visibility: hidden;
    width: 1px;
    height: 1px;
}

h1::after {
    background-image: url(../assets/circle-text.png);
    background-size: 140px 140px;
    display: inline-block;
    position: absolute;
    bottom: 40px;
    left: 350px;
    width: 140px;
    height: 140px;
    content:"";
}

// BLOG PAGE HEADER

.blog-header {
    height: 400px;
    background-image:url(../assets/blog-image-1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// CONTACT PAGE HEADER 

.contact-header {
    background-image:url(../assets/contact-image-1.jpg);
}