@media (max-width: 1200px) {
    
    .container {
        width: 90%; 
    }
    nav a {
        font-size: 1.1rem;
        letter-spacing: 0.04rem;
    }
    .header-img {
        width: 40%;
    }
    .about-harper-div {
        padding-top: 8%;
        height: 79%;
        width: 47%;
    }
    .about-harper {
        height: 56vh;
    }
    p {
        font-size: 1rem;
        line-height: 1.75rem;
    }
    .blog-preview-img {
        width: 49%;
    }
    .blog-preview-text {
        width: 50%;
        height: 250px;
        display: flex;
        flex: wrap;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .blog-preview-text-one {
        padding-left: 10%;
    }
    .blog-preview-text-two {
        padding-right: 8%;
    }
    .box-shadow-1 img {
        bottom: 40px;
        right: -20px;
    }
    .box-shadow-2 img {
        bottom:-40px;
        left: 20px;
    }
    .contact-aside {
        width: 30%;

    }
    .aside-email a {
        font-size: 1rem;
        letter-spacing: 0.02rem;
    }
    .social-icons {
        font-size: 1.5rem;
        width: 60%; 
    }
    h2.mobile-header {
        display: none;
    }

}

