header ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
header li {
    margin:1% 0 0 4%;
    list-style-type: none;
}
a {
    text-decoration: none;
    color:black;
    font-size: 1.4rem;
    transition: 0.2s;
}
.nav-white {
    color: whitesmoke;
}
a:hover {
    color: whitesmoke;
}
.secondary-header-nav {
    height: 10vh;
    background: #B9DDE7;
}
.blog-aside-nav li {    
   list-style-type: disc;
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
