header ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
header li {
    margin:1% 0 0 4%;
    list-style-type: none;
}

.secondary-header-nav {
    height: 10vh;
    background: $primary-color;
}
.blog-aside-nav li {    
   list-style-type: disc;
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
