@import 'setup';
@import 'variables';
@import 'navigation';
@import 'fonts';
@import 'headers';


.wrapper {
    width: 100%; 
    max-width: 1400px;
    margin: 0 auto;
}
.container {
    width: 80%; 
    max-width: 1200px;
    margin: 0 auto;
}
img {
    max-width: 100%;
}
h1 {
    font-size: 8.5rem;
    position: relative;
}
.hero-page {
    margin-top: 4%;
    display: flex;
    align-items: center;
}
.about-harper {
    background: $secondary-color;
    height: 65vh;
    }
.about-harper-div {
    margin-left: 45%;
    padding-top: 9%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    width: 42%;
}
.fas {
   font-size: 1.3rem;
}
.text-tiles-background {
    background: $secondary-color;
}
.text-tiles {
    background: $secondary-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:5%;
    padding-bottom: 5%;
}
.tile {
    width: 40%;
    margin:2% 0;
    display: flex;
    justify-content: center;
    
}
.tile2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.tile2-img {
width: 11%;
margin-right: 4%;
}
.tile2-text {
    width: 80%;
}
.tile2-text p {
    margin: 0;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary-color;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.box-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 82%;
    margin: 0 0 0 2%;
    padding-top: 2%;
}
.box-text p {
    margin-top: 4%;
}
.blog-preview-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}
.blog-preview-img {
    width: 50%;
}
.blog-preview-text {
    width: 42%;
    height: 300px;
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}
.box-shadow-1 img {
    position: relative;
    margin-bottom: 0%;
    bottom: 30px;
    right: 70px;
    box-shadow: 20px 20px 0px 0px $third-accent, -300px 20px $third-accent;
}
.box-shadow-2 img {
    position: relative;
    bottom:-30px;
    left: 20px;
    box-shadow: 20px 20px 0px 0px $primary-color, 300px 20px 0px 0px $primary-color;
}
.blog-preview-text-one {
    margin-top: 4%;
    padding-left: 5%;
}
.blog-preview-text-two {
    padding-right: 5%;
}
.fav-things {
    text-align: right;
}
.harpers-journey {
    background: $secondary-color;
    display: flex;
    padding: 10% 0;
}
.harpers-journey-img {
    width: 36%;
    display: flex;
    justify-content: center;
}
.harpers-journey-img img {
    max-width: 250px;
    // width: 50%;
    box-shadow: 15px 15px $second-accent;
}
.harpers-journey-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 56%;
}
.gallery {
    margin:5% 0;
    display: flex;
    justify-content: space-evenly;
}
.gallery-box {
    width: 25%;
}
footer {
    padding: 0.5% 0;
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
}
.blog-body {
    background: $secondary-color;
}
.blogs-page {
    margin-top: 7%;
    display: flex;
}
.blogs-left {
    width: 30%;
}
.blogs-right {
    width: calc(70% - 20px);
    margin-left: 20px;
}
aside,
article {
    background: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
    margin-top: 15px;
}
aside img {
    margin-bottom: 20px;
}
.blog-aside-nav {
    margin-top: 8%;
}
.contact-aside {
    display: flex;
    flex-wrap: wrap;
    width: 27%;
    height: 38vh;
    margin-top:0;
}
.blue-border {
    border-bottom: 5px solid $second-accent;
    margin-bottom: 2%;
}
.secondary-articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
h2.mobile-header {
    display: none;
}
.form-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5%;
}
input[type=text],
input[type=email] {
    width: 49%;
    height: 50px;
    border: 0;
}
textarea,
input {
    text-indent: 30px;
    resize: none;
}
.social-icons {
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    color: $second-accent;
}
.fab {
    transition: 0.2s;
}
.fab:hover {
    color:$primary-color;
}
.aside-email a {
    font-size: 1.2rem;
    letter-spacing: 0.02rem;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
.blog-aside-nav a:hover {
    box-shadow: none;
    color: black;
}
.aside-email:hover {
    color: $primary-color;
    box-shadow: none;
}
.blog-section-740 {
    display: none;
}
@import 'media-1';
@import 'media-2';
@import 'media-3';
@import 'media-4';
@import 'media-5';
@import 'media-6';