a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header li {
  margin: 1% 0 0 4%;
  list-style-type: none;
}

.secondary-header-nav {
  height: 10vh;
  background: #B9DDE7;
}

.blog-aside-nav li {
  list-style-type: disc;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

body,
form,
textarea,
input[type=text],
input[type=email] {
  font-family: 'Cabin', sans-serif;
}

h1,
h2,
h3,
h4,
button,
li {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 2.1rem;
  letter-spacing: 0.1rem;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: 0.13rem;
}

h4 {
  font-size: 1rem;
  letter-spacing: 0.02rem;
}

h4 a,
button {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  border: 1px solid #F38D8D;
  background-color: #F38D8D;
  padding: 7px 20px;
}

button {
  font-size: 1.1rem;
  padding: 5px 0;
  width: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

button:hover {
  color: white;
  -webkit-box-shadow: 3px 3px black;
          box-shadow: 3px 3px black;
}

.title-div h2 {
  position: absolute;
  top: 360px;
  font-size: 4rem;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav-white {
  color: white;
}

a:hover {
  color: white;
  -webkit-box-shadow: 3px 3px black;
          box-shadow: 3px 3px black;
}

nav a:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

p {
  font-size: 1rem;
  line-height: 1.8rem;
  letter-spacing: 0.01rem;
}

.blog-p p {
  font-size: 0.9rem;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  margin-top: 15px;
}

.blog-aside-nav li a {
  font-family: 'Cabin', sans-serif;
  text-transform: none;
  font-weight: lighter;
  font-size: 0.9rem;
  line-height: 1.5rem;
  letter-spacing: 0rem;
}

form,
textarea {
  font-size: 1rem;
  color: black;
  border: 0;
}

form {
  margin-bottom: 100px;
}

textarea {
  padding: 3% 0;
  margin: 10px 0 25px 0;
}

a.aside-email {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

header {
  background-color: #B9DDE7;
  height: 80vh;
}

.header-img {
  width: 45%;
}

.header-img img {
  width: 85%;
  -webkit-box-shadow: 15px 20px white;
          box-shadow: 15px 20px white;
}

.header-text {
  position: relative;
  width: 55%;
}

.circle-text {
  visibility: hidden;
  width: 1px;
  height: 1px;
}

h1::after {
  content: url(../assets/circle-text.png);
  position: relative;
  bottom: 200px;
  left: 330px;
}

.blog-header {
  height: 400px;
  background-image: url(../assets/blog-image-1.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-header {
  background-image: url(../assets/contact-image-1.jpg);
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 8.5rem;
  position: relative;
}

.hero-page {
  margin-top: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-harper {
  background: #F6F6F6;
  height: 65vh;
}

.about-harper-div {
  margin-left: 45%;
  padding-top: 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 80%;
  width: 42%;
}

.fas {
  font-size: 1.3rem;
}

.text-tiles-background {
  background: #F6F6F6;
}

.text-tiles {
  background: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
  padding-bottom: 5%;
}

.tile {
  width: 40%;
  margin: 2% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tile2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tile2-img {
  width: 11%;
  margin-right: 4%;
}

.tile2-text {
  width: 80%;
}

.tile2-text p {
  margin: 0;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #B9DDE7;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 82%;
  margin: 0 0 0 2%;
  padding-top: 2%;
}

.box-text p {
  margin-top: 4%;
}

.blog-preview-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.blog-preview-img {
  width: 50%;
}

.blog-preview-text {
  width: 42%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.box-shadow-1 {
  position: relative;
  margin-bottom: 0%;
  bottom: 30px;
  right: 70px;
  -webkit-box-shadow: 20px 20px 0px 0px #68B0C1, -300px 20px #68B0C1;
          box-shadow: 20px 20px 0px 0px #68B0C1, -300px 20px #68B0C1;
}

.box-shadow-2 {
  position: relative;
  bottom: -30px;
  left: 20px;
  -webkit-box-shadow: 20px 20px 0px 0px #B9DDE7, 300px 20px 0px 0px #B9DDE7;
          box-shadow: 20px 20px 0px 0px #B9DDE7, 300px 20px 0px 0px #B9DDE7;
}

.blog-preview-text-one {
  margin-top: 4%;
  padding-left: 5%;
}

.blog-preview-text-two {
  padding-right: 5%;
}

.fav-things {
  text-align: right;
}

.harpers-journey {
  background: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10% 0;
}

.harpers-journey-img {
  width: 36%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.harpers-journey-img img {
  max-width: 250px;
  -webkit-box-shadow: 15px 15px #227284;
          box-shadow: 15px 15px #227284;
}

.harpers-journey-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 56%;
}

.gallery {
  margin: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.gallery-box {
  width: 25%;
}

footer {
  padding: 0.5% 0;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.blog-body {
  background: #F6F6F6;
}

.blogs-page {
  margin-top: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogs-left {
  width: 30%;
}

.blogs-right {
  width: calc(70% - 20px);
  margin-left: 20px;
}

aside,
article {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px;
  margin-top: 15px;
}

aside img {
  margin-bottom: 20px;
}

.blog-aside-nav {
  margin-top: 8%;
}

.contact-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 27%;
  height: 38vh;
  margin-top: 0;
}

.blue-border {
  border-bottom: 5px solid #227284;
  margin-bottom: 2%;
}

.secondary-articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.form-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5%;
}

input[type=text],
input[type=email] {
  width: 49%;
  height: 50px;
  border: 0;
}

textarea,
input {
  text-indent: 30px;
  resize: none;
}

.social-icons {
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  color: #227284;
}

.fab {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.fab:hover {
  color: #B9DDE7;
}

.aside-email a {
  font-size: 1.2rem;
  letter-spacing: 0.02rem;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.aside-email:hover {
  color: #B9DDE7;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 740px) {
  .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    font-size: 3rem;
  }
  form,
  aside,
  article {
    width: 100%;
  }
  .blogs-page {
    margin-top: 10%;
    display: block;
  }
  .blogs-left {
    width: 100%;
  }
  .blogs-right {
    width: 100%;
    margin-left: 0;
  }
  .contact-aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    width: 100%;
    margin-bottom: 10%;
  }
  aside,
  article {
    display: block;
    width: 100%;
  }
}
